.accordion.accordion-toggle-arrow {
  .card {
    .card-header {
      .card-title {
        color: #3F4254;
        position: relative;
      }
    }
  }
}

.accordion.accordion-light {
  .card {
    &:first-child {
      .card-header {
        margin: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #f5f5f5;
      }
    }

    .card-body {
      padding: 3rem 0 3rem 0;
    }
  }
}

.crd-height {
  height: calc(100vh - 246px);
}

tr {
  border-bottom: 1px solid #f5f5f5;
}

.edit-icon {
  width: 35px;
  height: 35px;
  background: #d2f2cf;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 2.5px;

  img {
    width: 25px;
  }
}

.edit-icon:hover {
  background: #d2f2cf;
}

.delete-icon {
  width: 35px;
  height: 35px;
  background: #f5dce0;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 2.5px;

  img {
    width: 25px;
  }
}

.delete-icon:hover {
  background: #f5dce0;
}

.stock-icon {
  width: 35px;
  height: 35px;
  background: #dbdcf2;
  border-radius: 5px;
  padding: 5px;
  height: 32px;
  margin: 0px 2.5px;

  img {
    width: 25px;
  }
}

.stock-icon:hover {
  background: #dbdcf2;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.shop-list {
  list-style: none;
  padding-left: 0px;
}
.shop-list li {
  padding: 10px 10px;
  margin-bottom: 10px;
}
.shop-list li:hover {
  background: #f5f5f5;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn.btn-hover-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-hover-primary:focus:not(.btn-text), .btn.btn-hover-primary.focus:not(.btn-text) {
  color: #FFFFFF !important;
  background-color: #d8e7f6 !important;
  border-color: #d8e7f6 !important;
}
