<div class="d-flex flex-column flex-root hvh-100">
    <div class="login login-6 login-signin-on login-signin-on d-flex flex-column-fluid" id="kt_login">
        <div class="d-flex flex-column flex-lg-row flex-row-fluid text-center" style="background:#ffffff;">
            <div class="d-flex w-100 flex-center p-15">
                <div class="login-wrapper">
                    <div class="text-dark-75">
                        <div class="text-center mb-10 mb-lg-20">
                            <h2 class="brand-text">ALPIDI</h2>
                        </div>
                        <a href="#">
                            <img src="assets/media/misc/login-vector.png" class="w-100" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="login-divider">
                <div></div>
            </div>
            <div class="d-flex w-100 flex-center p-15 position-relative overflow-hidden">
                <div class="login-wrapper">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>