 <!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
  <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <div class="d-flex align-items-center flex-wrap mr-2">
      <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">T-shirt </h5>
    </div>
  </div>
</div>
<!--end::Subheader-->

<!--begin::Entry-->
<div class="d-flex flex-column-fluid pt-85">
  <!--begin::Container-->

  <div class="container-fluid">
    <div class="mrb-25">
      <div class="text-right mb-10">
        <button type="button" class="btn btn-green mr-5">Add New</button>
        <button type="button" class="btn btn-light">Back</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xxl-12">
        <!--begin::List Widget 9-->
        <div class="card card-custom card-stretch gutter-b">
          <!--begin::Body-->
          <div class="card-body pt-4">
            <div class="form-group py-2 m-0">
              <label class="fs-1p3">Title</label>
              <input type="text" name="username" autocomplete="off" required="" class="form-control h-auto placeholder-dark-75">
            </div>
            <div class="form-group py-2 m-0">
              <label class="fs-1p3">Description</label>
              <textarea class="form-control" readonly="readonly" rows="8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
</textarea>
            </div>
            <div class="form-group py-2 m-0">
              <label class="fs-1p3">Photos:</label>
              <div>
                <ul class="pro-img">
                  <li><img src="assets/media/product/t1.jpg"></li>
                  <li><img src="assets/media/product/t2.jpg"></li>
                  <li><img src="assets/media/product/t3.jpg"></li>
                  <li><img src="assets/media/product/t4.jpg"></li>
                  <li><img src="assets/media/product/t5.jpg"></li>
                  <li><img src="assets/media/product/t6.jpg"></li>
                  <li><img src="assets/media/product/t7.jpg"></li>
                  <li><img src="assets/media/product/t8.jpg"></li>
                  <li><img src="assets/media/product/t9.jpg"></li>
                  <li><img src="assets/media/product/t11.jpg"></li>
                  <li><img src="assets/media/product/t13.jpg"></li>
                  <li><img src="assets/media/product/t14.jpg"></li>
                  <li><img src="assets/media/product/t15.jpg"></li>
                  <li><img src="assets/media/product/t16.jpg"></li>
                  <li><img src="assets/media/product/t17.jpg"></li>
                  <li><img src="assets/media/product/t18.jpg"></li>
                  <li><img src="assets/media/product/t19.jpg"></li>
                  <li><img src="assets/media/product/t20.jpg"></li>
                </ul>
              </div>
            </div>
            <div class="form-group py-2 m-0">
              <label class="fs-1p3">Color:</label>
              <div>
                <ul class="cheakimg">
                  <li>
                    <input type="checkbox" id="myCheckbox1" />
                    <label for="myCheckbox1"><img src="http://townandcountryremovals.com/wp-content/uploads/2013/10/firefox-logo-200x200.png" /></label>
                  </li>
                  <li>

                    <input type="checkbox" id="myCheckbox2" />
                    <label for="myCheckbox2"><img src="http://tech21info.com/admin/wp-content/uploads/2013/03/chrome-logo-200x200.png" /></label>
                  </li>
                  <li>

                    <input type="checkbox" id="myCheckbox3" />
                    <label for="myCheckbox3"><img src="http://www.thebusinessofsports.com/wp-content/uploads/2010/10/facebook-icon-200x200.png" /></label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--end: Card Body-->
        </div>
        <!--end: List Widget 9-->
      </div>

      <div class="col-lg-12 col-xxl-12">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-header align-items-center border-0 mt-4">
            <h3 class="card-title align-items-start flex-column">
              <span class="font-weight-bolder text-dark">Tags</span>
            </h3>
          </div>
          <div class="card-body pt-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="sepreat-line"></div>
                <div class="or-text"> OR </div>
              </div>
              <div class="col-md-6">
                <div class="form-group py-2 m-0">
                  <label class="fs-1p3">Enter Tags</label>
                  <input type="text" name="username" autocomplete="off" required="" class="form-control h-auto placeholder-dark-75">
                </div>
                <div class="form-group">
                  <label class="fs-1p3">Choose Font</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="fs-1p3">Choose Text color</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xxl-12">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-header align-items-center border-0 mt-4">
            <h3 class="card-title align-items-start flex-column">
              <span class="font-weight-bolder text-dark">Listing details</span>
            </h3>
          </div>
          <div class="card-body pt-4">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">Who made it?</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">What is it?</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">When it was made?</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Choose Profile</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">Category</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Man Clothings</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3 pdt-20"></label>
                  <select class="form-control" id="exampleSelect1">
                    <option>T-shirt</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3 pdt-20"></label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Custom T-shirt</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">Holidays</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Christmas</option>
                    <option>Holi</option>
                    <option>Eid</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="fs-1p3">Occasion</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Marriage</option>
                    <option>Engagement </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12 col-xxl-12">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-header align-items-center border-0 mt-4">
            <h3 class="card-title align-items-start flex-column">
              <span class="font-weight-bolder text-dark">Personalised T-shirt Details</span>
            </h3>
          </div>
          <div class="card-body pt-4">
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label class="fs-1p3">Add text Which you add on T-shirt</label>
                  <input type="text" name="username" autocomplete="off" required="" class="form-control h-auto placeholder-dark-75">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="form-group">
                  <div>
                  <label class="fs-1p3">Image</label>
                    </div>
                  <div class="image-input image-input-empty image-input-outline" id="kt_image_5" style="background-image: url(assets/media/users/blank.png)">
                    <div class="image-input-wrapper"></div>
                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                      <i class="fa fa-pen icon-sm text-muted"></i>
                      <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                      <input type="hidden" name="profile_avatar_remove">
                    </label>
                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                      <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--end::Container-->
</div>
<!--end::Entry-->
